/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.scw-switcher-wrap,.scw-trigger-icon{position:fixed;left:auto;background-color:#fff}.scw-trigger-icon{width:44px;height:44px;top:121px;right:26px;border:0;padding:0;text-align:center;z-index:5;cursor:pointer}.scw-trigger-icon i{font-size:18px}.scw-switcher-wrap.scw-switcher-open i:nth-of-type(1),.scw-switcher-wrap:not(.scw-switcher-open) i:nth-of-type(2){display:none}.scw-switcher-wrap{top:120px;right:25px;padding:23px;width:0;height:0;border:1px solid rgba(0,0,0,.09);border-radius:3px;box-shadow:0 13px 42px 11px rgba(0,0,0,.05);z-index:9999;overflow:hidden;-webkit-transition:all .45s ease;-o-transition:all .45s ease;transition:all .45s ease}.scw-switcher-wrap.scw-switcher-open{width:300px;height:70%;padding:35px 25px;overflow-y:scroll}.scw-switcher-wrap .widget{margin:0}.scw-switcher-wrap .line,.scw-switcher-wrap .widget{opacity:0;-webkit-transition:opacity 0s ease;-o-transition:opacity 0s ease;transition:opacity 0s ease}.scw-switcher-wrap.scw-switcher-open .line,.scw-switcher-wrap.scw-switcher-open .widget{opacity:1;-webkit-transition:opacity .3s .4s ease;-o-transition:opacity .3s .4s ease;transition:opacity .3s .4s ease}.scw-switcher-wrap .widget h4{font-size:14px;letter-spacing:1px;margin-bottom:15px}.scw-switcher-wrap .btn-container{margin:0 -5px -5px 0}.scw-switcher-wrap .btn{margin:0 5px 5px 0}.scw-switcher-wrap .row{margin:0 -5px}.scw-switcher-wrap .col-6{padding:5px}body:not(.has-plugin-isotope) .portfolio-reveal .portfolio-desc{display:none}.overlay-trigger-icon:hover{opacity:.8!important}/*.row{--bs-gutter-x:2rem}*//*html{font-size:16px!important}*/

.select2-container .select2-choice{border:none;color:#53535f;background-image:none;background-color:#fff}.select2-container .select2-choice .select2-arrow{background-image:none;background-color:#fff;border-left:0;width:25px}.select2-container .select2-choice .select2-arrow b{background:none}.select2-container .select2-choice .select2-arrow b:after{content:"";font-family:"anticon";color:rgba(0,0,0,0.25)}.select2-container-active.select2-container{border:1px solid #ccc;border-radius:.25rem;}.select2-container-active.select2-container .select2-choice,.select2-container-active.select2-container .select2-choices{box-shadow:none}.select2-drop-active{border:0px}.select2-drop{color:#53535f;box-shadow:0 2px 8px rgba(0,0,0,0.15)}.select2-drop.select2-drop-above.select2-drop-active{border-top:0px}.select2-results .select2-highlighted{color:#68197d;background-color:rgba(63,135,245,0.1)}.select2-results .select2-result-label{padding:5px 12px}.select2-search{padding:4px}.select2-search:after{content:"";font-family:"anticon";color:#53535f;position:absolute;right:15px;top:10px}.select2-search input{background:none;border-radius:.25rem;font-family:"Poppins",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif}.select2-dropdown-open.select2-container .select2-choice .select2-arrow b:after{content:""}.select2-dropdown-open.select2-drop-above .select2-choice,.select2-dropdown-open.select2-drop-above .select2-choices{background:none}.select2-container-multi .select2-choices{min-height:2.5375rem;border:1px solid #edf2f9;background-image:none}.select2-container-multi .select2-choices .select2-search-choice{margin:8px 0 8px 5px;border:1px solid #e8e8e8;background-color:#fafafa;background-image:none}.select2-search-choice-close{background-image:none;color:#72849a;font-size:12px}.select2-search-choice-close:after{content:"\25";font-family:"anticon"}.select2-search-choice-close:hover{color:#2a2a2a}

.button-purple:not(.button-border){background-color:#68197d!important}.button-3d.button-purple:hover,.button-border.button-purple.button-fill::before,.button-border.button-purple:hover,.button-reveal.button-purple:hover{background-color:#68197d!important}.button-border.button-purple{color:#68197d;border-color:#68197d}

.rq {
    color: #db1e16;
}

.single {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.service_menu {
	padding: 0px;
	margin: 0px;
}
.service_menu > .menu-item {
	list-style-type: none;
}
.service_menu > .menu-item > .menu-link {
	padding: 10px 20px;
}
.service_menu > .menu-item > .menu-link:hover, .service_menu > .menu-item > .active {
	padding-left: 15px;
	background-color: #eee;
	color: #ef5f16;
}

.clientele {
	margin-bottom: 30px;
	text-align: center;
	color: #666;
	text-transform: uppercase;
	font-size: small;
}
.clientele img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 10px;
}
.clientele img:hover {
	opacity: 0.5;
}

.news {
	cursor: pointer;
}
.news:hover {
    background-color: #fcfcfc;
	border: 2px solid #68197d;
}
.news a {
    outline: none;
    text-decoration: none;
	display: block;
}
.news a .h4 {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding: 10px 0px;
}

.policy {
	border-radius: 15px;
	border: 1px solid #eee;
	box-shadow: 3px 6px #eee;
	cursor: pointer;
	margin: 5px;
	margin-bottom: 20px;
}
.policy:hover {
	/* border: 1px solid #6B1D80; */
	margin-top: 0px;
	box-shadow: none;
	color: #6B1D80;
}
.policy .icon {
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	text-align: center;
	padding: 5px;
	color: #6B1D80;
	border-right: 1px solid #eee;
}
.policy .icon i {
	font-size: 48px;
}
.policy:hover .icon {
	background-color: #6B1D80;
	color: #fff;
}
.policy:hover .title {
	background-color: #f9f9f9;
}
.policy .title {
	padding: 25px 15px;
	font-size: 16px;
}
.policy .title {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.partner {
	margin: 5px;
	text-align: center;
	cursor: pointer;
}
.partner img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: #fff;
	padding: 3px;
	border: 3px solid #6B1D80;
}
.partner:hover img {
	background-color: #eee;
	border: 3px solid #fff;
}
.partner .content {
	margin-top: -50px;
	padding-top: 55px;
	padding-bottom: 10px;
	border: 3px solid #6B1D80;
	border-radius: 15px 15px 0px 0px;
}
.partner:hover .content {
	border: 3px solid #eee;
}
.partner .content .title {
	font-weight: bold;
}
.partner .content > a {
	display: block;
	margin-bottom: 10px;
}
.partner .content .benefit {
	margin: 10px;
	padding: 20px;
	background-color: #eee;
	text-align: left;
	font-size: small;
	border-radius: 5px;
}
.partner .content .benefit .top {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
	color: #6B1D80;
	font-size: 18px;
	font-weight: bold;
}
.partner .content .benefit .bottom {
	text-align: right;
}
.partner .content .benefit table {
	border: none;
	width: 100%;
}
.partner .content .benefit table th, .partner .content .benefit table td {
	padding: 10px;
	border: 1px solid #ddd;
}
.partner .content .benefit table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.partner .content .benefit ul, .partner .content .benefit ol {
	margin: 0px;
	margin-left: 30px;
}
.partner .content .benefit p {
	margin: 5px 0px;
}
